:root {
  --purple-color: #2f3131;
  --orange-color: #ff9000;
}
/* .navbar-brand{
    font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
} */
.container{
  
  position: relative;
}
.container img {
  width: 3rem;
}
.nav-link {
  font-weight: 600;
  color: var(--purple-color) !important;
  
  position: relative;
}
.nav-link:hover{
    color: var(--orange-color) !important;
}

.foody-app_search {
  outline: none;
  border: none; 
  box-shadow: inset 5px 5px 10px -5px rgba(141, 140, 140, 0.5);
  border-radius: 0.5rem;
}
.foody-app_navbar-cart{
  font-size: 1.5rem;
  position: absolute;
  color: gray;
  right: 4rem;
  transform: translate(-50%,-20%);
  z-index: 2;
  cursor: pointer;
}
.foody-app_navbar-count{
  position: absolute;
  right: 5.5rem;
  top: 0rem;
  z-index: 1;
  color: #2f3131;
  font-size: 2rem;
  height: auto;
}
.foody-app_navbar-count span{
  color: red;
  font-size: 1.5rem;
  position: absolute;
}