.footer {
    background-color: #f4f4f4;
    margin-top: 5rem;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    color: #666666;
    font-size: 14px;
  }
  .footer-content span{
    color: #ff9000;
    font-weight: 600;
  }
  
  /* Add additional styles as needed */
  